[submodule "constitution"]
	path = constitution
	url = git@github.com:HelixDevelopment/HelixConstitution.git
[submodule "submodules/jackett"]
	path = submodules/jackett
	url = git@github.com:Jackett/Jackett.git
[submodule "submodules/helixqa"]
	path = submodules/helixqa
	url = git@github.com:HelixDevelopment/HelixQA.git
[submodule "submodules/challenges"]
	path = submodules/challenges
	url = git@github.com:vasic-digital/Challenges.git
[submodule "submodules/containers"]
	path = submodules/containers
	url = git@github.com:vasic-digital/Containers.git
